################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dapper.Exceptional/bin
/Dapper.Exceptional/obj
